/*-------------------Colors------------------- */

// Light theme (CL -> COLOR; DT -> Dark Theme; LT -> Light Theme

$cl-lt-primary: rgb(46, 193, 172);
$cl-lt-primary-dark: rgb(62, 151, 139);
$cl-lt-secundary: rgb(214, 114, 111);
$cl-lt-secundary-dark: rgb(212, 61, 61) ;

// Dark theme

$cl-dt-primary: rgb(214, 114, 111);
$cl-dt-primary-dark: rgb(212, 61, 61);
$cl-dt-secundary: rgb(46, 193, 172);
$cl-dt-secundary-dark: rgb(62, 151, 139);

// Secundary colors

$cl-dark: rgb(34, 35, 35);
$cl-light: rgb(238, 238, 238);
$cl-danger: rgb(193, 61, 46);
$cl-success: rgb(46, 193, 172);
$cl-warning: rgb(193, 176, 46);

// Font sizes

