//  Utils
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./variables";

// Signup view
@import "./views/Signup";

// Components common
@import "./components/common/Navbar";
@import "./components/common/Footer";
@import "./components/common/InputField";
@import "./components/common/SubmitButton";
@import "./components/common/Loading";








*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.05rem;
 }

a {
    text-decoration: none;
    color: $cl-dark;
    font-family: 'Raleway', sans-serif;
    &:visited {
        color: $cl-dark;   
    }
    &:hover {
        color: $cl-dark;
    }
}
.light {
    &.background {
        background-color: $cl-lt-primary;
    }
    &.background-contrast {
        background-color: $cl-light;
    }
    &.text {
        color: $cl-dark;
    }
    &.background-gray-scale {
        background-color: $cl-dark;
    }
    &.text-gray-scale {
        color: $cl-light;
    }
}
.dark {
    &.background {
        background-color: $cl-dt-primary;
    }
    &.background-contrast {
        background-color: $cl-dark;
    }
    &.text {
        color: $cl-light;    
    }
    &.background-gray-scale {
        background-color: $cl-light;
    }
    &.text-gray-scale {
        color: $cl-dark;
    }
}
@media (prefers-color-scheme: light) {
    .light {
        &.background {
            background-color: $cl-lt-primary;
        }
        &.background-contrast {
            background-color: $cl-light;
        }
        &.text {
            color: $cl-dark;
        }
        &.background-gray-scale {
            background-color: $cl-light;
        }
        &.text-gray-scale {
            color: $cl-dark;
        }
    }
}
@media (preferes-color-scheme: dark) {
    .dark {
        &.background {
            background-color: $cl-dt-secundary;
        }
        &.background-contrast {
            background-color: $cl-dark;
        }
        &.text {
            color: $cl-light;    
        }
        &.background-gray-scale {
            background-color: $cl-light;
        }
        &.text-gray-scale {
            color: $cl-dark;
        }
    }
}