@import "./../../../../../styles/variables";
.about-untrip {
    display: flex;
    justify-content: center;
    height: 95vh;
}
.about-untrip__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    max-width: 450px;
    img {
        width: 85%;
    }
    h2 {
        text-align: center;
        font-size: 1.4rem;
    }
}